.menu-channel-icon {
  border-radius: 50%;
  width: 2.25em;
  background-color: olive;
}

a {
  text-decoration: none !important;
}

.articleImage {
  max-width: 100%;
  max-height: 100%;
}

.coverPhoto {
  border-radius: 15 px;

  background-image: url(http://unsplash.it/1000/500?gravity=center);
  height: 340 px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swal2-popup {
  width: auto !important;
}

#coverPhoto {
  border-radius: 10px;

  background-image: url("https://source.unsplash.com/wfh8dDlNFOk/1600x900");
  height: 350px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-top: 80px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bd-placeholder-img-footer {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.dropdown-toggle {
  border: none;
}

.dropend {
  border: none;
  position: fixed;
}

div.scrollmenu {
  border: 2px;
  border-radius: 10px;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;

  text-align: center;
  padding: 14px;
  text-decoration: none;

  border-right: inset #acc0d8 1px;
}

div.scrollmenu a:hover {
  background-color: #777;
}

/* sidebar dropdown 的部分 */
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

#userProfilePicture {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://dummyimage.com/300x300/6c757d/dee2e6.jpg");
  background-size: cover;
}

/* Main content */
.main {
  margin-left: 200px;
  /* Same as the width of the sidenav */
  font-size: 20px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/*  */
/* sidebar 縮放功能 */

a {
  text-decoration: none;
}

.swal2-popup {
  width: auto !important;
}

.container {
  margin-top: 80px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bd-placeholder-img-footer {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.dropdown-toggle {
  border: none;
}

.dropend {
  border: none;
  position: fixed;
}

div.scrollmenu {
  border: 2px;
  border-radius: 10px;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;

  text-align: center;
  padding: 14px;
  text-decoration: none;
  border-right: inset #acc0d8 1px;
}

div.scrollmenu a:hover {
  background-color: #777;
}

/* sidebar dropdown 的部分 */
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px;
  /* Same as the width of the sidenav */
  font-size: 20px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/*  */
/* sidebar 縮放功能 */
.card-text {
  display: -webkit-box;

  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow-wrap: anywhere;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.card-text {
  display: -webkit-box;

  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow-wrap: anywhere;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);

  -webkit-transition: 0.3s linear;

  transform: translate(-100%) scale3d(1, 1, 1);
  /* 用此屬性控制縮放 */
}

.show-sidebar {
  -webkit-transition: 0.3s linear;

  transform: translate(0) scale3d(1, 1, 1);
}

.container {
  margin-top: 80px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bd-placeholder-img-footer {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.dropdown-toggle {
  border: none;
}

.dropend {
  border: none;
  position: fixed;
}

div.scrollmenu {
  border: 2px;
  border-radius: 10px;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;

  text-align: center;
  padding: 14px;
  text-decoration: none;

  border-right: inset #acc0d8 1px;
}

div.scrollmenu a:hover {
  background-color: #777;
}

/* sidebar dropdown 的部分 */
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px;
  /* Same as the width of the sidenav */
  font-size: 20px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/*  */
/* sidebar 縮放功能 */

a {
  text-decoration: none;
}

/* coverPhoto 的 css */
.coverPhoto {
  border-radius: 10px;
  margin-top: 100px;
  background-image: url("http://unsplash.it/1000/500?gravity=center");
  height: 340px;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#authorAvatar {
  padding-right: 0px;
}

.icon-button {
  background-color: transparent;
  border: none;
  /* Remove borders */
  color: white;
  /* White text */

  font-size: 16px;
  /* Set a font size */
  cursor: pointer;
  /* Mouse pointer on hover */
}

.user-avatar {
  border-radius: 50%;
}

.label {
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: 0.2em;
  padding: 0.12em 0.4em 0.14em;
  margin: 0 0.42em;
  text-align: center;
  color: #ffffff;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  display: inline;
  white-space: nowrap;
  vertical-align: baseline;
  position: relative;
  top: -0.15em;
  background-color: #999999;
}
