<!-- Bootstrap template  -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Upload Article</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/navbar-bottom/">
  <!-- Bootstrap CSS -->
  <link rel="icon" href="../apple-touch-icon.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </link>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet"
    href="https://rawcdn.githack.com/darkterminal/tagin/6fa2863c13aa1841f33cf6dcbbf266c92fbf5412/dist/css/tagin.min.css">

  <link rel="stylesheet" href="../../styles/unsplashSearch.css">
  <link rel="stylesheet" href="../../styles/index.css">

  <link rel="stylesheet" href="../../styles/header.css">
  <link rel="stylesheet" href="../../styles/sidebar.css">
  <link rel="stylesheet" href="../../styles/articles/newmd_f.css">
</head>

<body>
  <%- include("../components/header")%>
    <div class="row" style="width:100%">
      <%- include("../components/sidebar") %>
        <div
          class="w3-card-4  col-10 container d-flex flex-row justify-content-center position-relative w3-margin-bottom"
          style="width:80%;border-radius:15px">
          <form id="articleForm">
            <div id="articleContainer" class="
                    container
                    d-flex
                    flex-column
                    justify-content-center
                    article-container
                  ">
              <h1>新增文章 </h1>
              <div class="form-floating mb-2 mt-2">
                <textarea name="title" class="form-control title" placeholder="Leave a comment here"
                  id="floatingTextarea"></textarea>
                <label for="floatingTextarea">文章標題*</label>
              </div>
              <div class="form-floating">
                <h3 class="my-2">文章內容*</h3>
                <textarea name="markdown" class="form-control articleContent" placeholder="Leave a comment here"
                  id="floatingTextarea2" style="height: 400px"></textarea>
                <label for="floatingTextarea2"></label>
              </div>
              <div class="form-floating d-none">
                <h3 class="my-2">文章簡介（置於縮圖上）</h3>
                <textarea name="markdown" class="form-control" placeholder="Leave a comment here" id="description"
                  style="height: 100px"></textarea>
                <label for="floatingTextarea2"></label>
              </div>
            </div>

            <div class="my-4 d-flex flex-row article-container container justify-content-center align-items-stretch">
              <!-- 分類看板選單 -->
              <div class="container col-3 lead border p-3 mt-3">
                <label for="category" class="form-label mb-0">分類看板*</label><br>
                <hr class="mt-1 mb-3">
                <select class="w3-border-top" name="category" id="category" style="width:100px">
                  <option value="生活">生活</option>
                  <option value="娛樂">娛樂</option>
                  <option value="時尚">時尚</option>
                  <option value="社會">社會</option>
                  <option value="財經">財經</option>
                  <option value="感情">感情</option>
                  <option value="商業">商業</option>
                  <option value="藝術">藝術</option>
                  <option value="工作">工作</option>
                  <option value="國際">國際</option>
                  <option value="政治">政治</option>
                  <option value="3C">3C</option>
                  <option value="科技">科技</option>
                  <option value="體育">體育</option>
                  <option value="遊戲">遊戲</option>
                  <option value="迷因">迷因</option>

                </select>
              </div>
              <!--  -->
              <!-- tag 選單 -->
              <div class="container col-3 lead border p-3 mt-3">
                <label for="tag" class="form-label ">新增標籤（Tag）*
                  <hr class="mt-1 m-0">按空白鍵新增
                </label>

                <input type="text" list="tagOptions" id="tag" placeholder="新增 Tag" name="tags"
                  class="form-control tagin" data-separator=" " value="">

              </div>

              <div class="container col-3 lead border p-3 mt-3">
                <label for="articleCover" class="form-label ">文章封面照片*
                  <hr class="mt-1">
                  <input class="form-control" type="file" id="articleCover" placeholder="新增文章封面照片" />
                </label>
                <div>
                  <button class="btn-unsplash" id="showUnsplash">使用
                    Unsplash 圖庫</button>
                </div>
                <div class="d-flex justify-content-center w3-margin">
                  <div id="imgPreview" style="width:306px;height:306px;background-repeat:no-repeat;
                background-position: center;
                
                background-size: cover;"></div>
                </div>
              </div>
              <div class="
                      d-flex
                      container-fluid
                      
                      lead
                      p-3
                      mt-3
                      align-items-center
                      justify-content-center
                    ">
                <button class="flex-grow-1 btn btn-secondary" id="uploadBtn">上傳！</button>
              </div>
          </form>
          <main>
            <div id="id01" class="w3-modal">
              <div class="w3-modal-content">
                <div class="container w3-card-4" style="margin-top: 20px;border-radius:10px;min-height: 80vh;">
                  <h1 class="h1">搜尋 Unsplash 照片</h1>

                  <form class="js-form">
                    <input type="textt" class="search-input-us js-search-input" placeholder="搜尋圖片" autofocus>
                    <button type="submit" class="btn-unsplash-go">Go</button>
                  </form>

                  <div class="result-stats js-result-stats"></div>
                  <hr style="width: 50%;margin:auto">
                  <ul class="search-results js-search-results d-flex flex-wrap" style="margin:0 -8px -8px 0"
                    id="imgContainer">
                  </ul>

                  <div class="pagination justify-content-center">
                    <button class="hidden prev-btn js-prev"><a
                        style="text-decoration: none; color: white;">上一頁</a></button>
                    <button class="hidden next-btn js-next"><a
                        style="text-decoration: none; color: white;">下一頁</a></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="spinner js-spinner hidden">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
          </main>
        </div>
    </div>

    <!-- footer -->
    </div>

    <% if(firstTime) {%>
      <span id="firstTime" class="d-none">
        <%= firstTime %>
      </span>
      <% } %>

        <%- include("../components/footer") %>
          <script src="https://code.jquery.com/jquery-latest.min.js"></script>
          <script
            src="https://rawcdn.githack.com/darkterminal/tagin/6fa2863c13aa1841f33cf6dcbbf266c92fbf5412/dist/js/tagin.min.js"></script>
          <script>
            tagin(document.querySelector('.tagin'));
          </script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
          <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
          <script src="../../js/newmd_f.js"></script>
          <script src="../../js/sidebars.js"></script>
          <script src="../../js/header.js"></script>
          <script src="../../js/unsplashSearch.js"></script>
</body>

</html>