<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>Blog</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mb-4">New Article</h1>
      <form id="articleForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            required
            value="<%= article.title %>"
            type="text"
            name="title"
            id="title"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" id="description" class="form-control">
<%= article.description%></textarea
          >
        </div>
        <div class="form-group">
          <label for="markdown">Markdown</label>
          <textarea required name="markdown" id="markdown" class="form-control">
<%= article.markdown %> 
</textarea
          >
        </div>
        <style>
          .btn {
            margin-top: 1%;
          }
        </style>

        <a href="/" class="btn btn-secondary">Cancel</a>
        <button type="button" class="btn btn-primary newArticle">Save</button>
      </form>
    </div>
    <script>
      const url = "/user/profileAuth";
      const token = localStorage.getItem("accessToken");
      let user;
      fetch(url, {
        method: "GET",
        headers: {
          Authorization: "Bearer " + token,
        },
      })
        .then((res) => res.json())
        .then((res) => {
          if (res.error) {
            alert("請先登入");
            self.location.href = "/";
          }
          console.log(res);
          user = res;
        })
        .catch((err) => {
          console.log(err);
          alert("請先登入");
          self.location.href = "/user/sign";
        });

      const btn = document.querySelector(".newArticle");
      btn.addEventListener("click", async (e) => {
        console.log("btn clicked");
        const url = "/articles/newmd";

        const elements = document.getElementById("articleForm").elements;
        let data = {};
        for (var i = 0; i < elements.length; i++) {
          var item = elements.item(i);
          data[item.name] = item.value;
        }
        data.user = user;
        data = await JSON.stringify(data);

        console.log("-1");
        console.log(data);
        console.log("token: " + token);
        fetch(url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + token,
          },
          body: data,
        })
          .then(function (response) {
            // const resJson = await res.json();
            return response.text();
          })
          .then(function (data) {
            console.log(data);
            alert("文章上傳成功");
            self.location.href = `/articles/${data}`;
          })
          .catch((e) => {
            console.log("error");
            console.log(e);
          });
      });
    </script>
  </body>
</html>
