<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Trix</title>
    <link rel="stylesheet" href="../../styles/newtrix.css" />
    <script src="../../js/trix.js"></script>
  </head>
  <body>
    <form>
      <input id="form" type="hidden" name="content" />
      <trix-editor input="form" id="trixForm"></trix-editor>
      <button id="send">送出表單</button>
    </form>
    <script src="../../js/newtrix.js"></script>
  </body>
</html>
