<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>User Channel</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <style>
    .menu-channel-icon {
      border-radius: 50%;
      width: 2.25em;
      background-color: olive;
    }
  </style>

  <style>
    .swal2-popup {
      width: auto !important;
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--clr-white);
      display: grid;
      grid-template-rows: auto 1fr auto;
      row-gap: 1rem;
      box-shadow: var(--clr-red-dark);
      transition: var(--transition);
      transform: translate(-100%);
      /* 用此屬性控制縮放 */
    }

    .show-sidebar {
      transform: translate(0);
    }

    .container {
      margin-top: 80px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      align-content: flex-start;
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .bd-placeholder-img-footer {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    .dropdown-toggle {
      border: none
    }

    .dropend {
      border: none;
      position: fixed
    }

    div.scrollmenu {
      border: 2px;
      border-radius: 10px;
      background-color: #333;
      overflow: auto;
      white-space: nowrap;
    }

    div.scrollmenu a {
      display: inline-block;

      text-align: center;
      padding: 14px;
      text-decoration: none;
      border-right: inset #ACC0D8 1px;
    }

    div.scrollmenu a:hover {
      background-color: #777;
    }

    /* sidebar dropdown 的部分 */
    /* Fixed sidenav, full height */
    .sidenav {
      height: 100%;
      width: 200px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 20px;
    }

    /* Style the sidenav links and the dropdown button */
    .sidenav a,
    .dropdown-btn {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: block;
      border: none;
      background: none;
      width: 100%;
      text-align: left;
      cursor: pointer;
      outline: none;
    }

    /* On mouse-over */
    .sidenav a:hover,
    .dropdown-btn:hover {
      color: #f1f1f1;
    }

    /* Main content */
    .main {
      margin-left: 200px;
      /* Same as the width of the sidenav */
      font-size: 20px;
      /* Increased text to enable scrolling */
      padding: 0px 10px;
    }

    /* Add an active class to the active dropdown button */
    .active {

      color: white;
    }

    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
      display: none;
      background-color: #262626;
      padding-left: 8px;
    }

    /* Optional: Style the caret down icon */
    .fa-caret-down {
      float: right;
      padding-right: 8px;
    }

    /*  */
    /* sidebar 縮放功能 */
    .card-text {
      display: -webkit-box;

      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow-wrap: anywhere;
      overflow: hidden;
    }

    a {

      text-decoration: none;
    }
  </style>
  <style>
    .card-text {
      display: -webkit-box;

      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow-wrap: anywhere;
      overflow: hidden;
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--clr-white);
      display: grid;
      grid-template-rows: auto 1fr auto;
      row-gap: 1rem;
      box-shadow: var(--clr-red-dark);
      transition: var(--transition);
      transform: translate(-100%);
      /* 用此屬性控制縮放 */
    }

    .show-sidebar {
      transform: translate(0);
    }

    .container {
      margin-top: 80px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      align-content: flex-start;
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .bd-placeholder-img-footer {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    .dropdown-toggle {
      border: none
    }

    .dropend {
      border: none;
      position: fixed
    }

    div.scrollmenu {
      border: 2px;
      border-radius: 10px;
      background-color: #333;
      overflow: auto;
      white-space: nowrap;
    }

    div.scrollmenu a {
      display: inline-block;

      text-align: center;
      padding: 14px;
      text-decoration: none;

      border-right: inset #ACC0D8 1px;
    }

    div.scrollmenu a:hover {
      background-color: #777;
    }

    /* sidebar dropdown 的部分 */
    /* Fixed sidenav, full height */
    .sidenav {
      height: 100%;
      width: 200px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 20px;
    }

    /* Style the sidenav links and the dropdown button */
    .sidenav a,
    .dropdown-btn {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: block;
      border: none;
      background: none;
      width: 100%;
      text-align: left;
      cursor: pointer;
      outline: none;
    }

    /* On mouse-over */
    .sidenav a:hover,
    .dropdown-btn:hover {
      color: #f1f1f1;
    }

    /* Main content */
    .main {
      margin-left: 200px;
      /* Same as the width of the sidenav */
      font-size: 20px;
      /* Increased text to enable scrolling */
      padding: 0px 10px;
    }

    /* Add an active class to the active dropdown button */
    .active {

      color: white;
    }

    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
      display: none;
      background-color: #262626;
      padding-left: 8px;
    }

    /* Optional: Style the caret down icon */
    .fa-caret-down {
      float: right;
      padding-right: 8px;
    }

    /*  */
    /* sidebar 縮放功能 */

    a {

      text-decoration: none;
    }
  </style>
  <style>
    /* coverPhoto 的 css */
    .coverPhoto {
      border-radius: 10px;
      margin-top: 100px;
      background-image: url("http://unsplash.it/1000/500?gravity=center");
      height: 340px;
      width: 100%;
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }

    #authorAvatar {
      padding-right: 0px
    }

    .icon-button {
      background-color: transparent;
      border: none;
      /* Remove borders */
      color: white;
      /* White text */

      font-size: 16px;
      /* Set a font size */
      cursor: pointer;
      /* Mouse pointer on hover */
    }

    .user-avatar {
      border-radius: 50%
    }
  </style>
  <style>
    .label {
      box-sizing: border-box;
      white-space: nowrap;
      border-radius: 0.2em;
      padding: 0.12em 0.4em 0.14em;
      margin: 0 0.42em;
      text-align: center;
      color: #ffffff;
      font-size: 0.75em;
      font-weight: 700;
      line-height: 1;
      display: inline;
      white-space: nowrap;
      vertical-align: baseline;
      position: relative;
      top: -0.15em;
      background-color: #999999;
    }
  </style>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="../../styles/index.css" />



  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <style>
    .card-title {
      display: -webkit-box;

      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow-wrap: anywhere;
      overflow: hidden;
    }
  </style>
  <link rel="stylesheet"
    href="https://rawcdn.githack.com/darkterminal/tagin/6fa2863c13aa1841f33cf6dcbbf266c92fbf5412/dist/css/tagin.min.css">


  <style>
    .article-container {
      margin-top: 66px;
    }

    a {
      text-decoration: none;
    }

    h1 {
      margin-top: 5px;
    }

    #articleContainer {
      align-items: unset;
      flex-wrap: unset;
    }

    .bodyWrapper {
      min-height: calc(100vh);
    }
  </style>
  <style>
    .card-title {
      display: -webkit-box;

      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow-wrap: anywhere;
      overflow: hidden;
    }

    .card-text {
      display: -webkit-box;

      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow-wrap: anywhere;
      overflow: hidden;
    }

    .articleImage {
      max-width: 100%;
      max-height: 100%;
    }

    .coverPhoto {
      border-radius: 15 px;
      margin-top: 100 px;
      background-image: url(http://unsplash.it/1000/500?gravity=center);
      height: 340 px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--clr-white);
      display: grid;
      grid-template-rows: auto 1fr auto;
      row-gap: 1rem;
      box-shadow: var(--clr-red-dark);
      transition: var(--transition);
      transform: translate(-100%);
      /* 用此屬性控制縮放 */
    }

    .swal2-popup {
      width: auto !important;
    }

    .show-sidebar {
      transform: translate(0);
    }

    #coverPhoto {
      border-radius: 10px;
      margin-top: 100px;
      background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900');

      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .container {
      margin-top: 80px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      align-content: flex-start;
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .bd-placeholder-img-footer {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    .dropdown-toggle {
      border: none
    }

    .dropend {
      border: none;
      position: fixed
    }

    div.scrollmenu {
      border: 2px;
      border-radius: 10px;
      background-color: #333;
      overflow: auto;
      white-space: nowrap;
    }

    a {
      text-decoration: none !important;
    }

    div.scrollmenu a {
      display: inline-block;

      text-align: center;
      padding: 14px;
      text-decoration: none;

      border-right: inset #ACC0D8 1px;
    }

    div.scrollmenu a:hover {
      background-color: #777;
    }

    /* sidebar dropdown 的部分 */
    /* Fixed sidenav, full height */
    .sidenav {
      height: 100%;
      width: 200px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 20px;
    }

    /* Style the sidenav links and the dropdown button */
    .sidenav a,
    .dropdown-btn {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: block;
      border: none;
      background: none;
      width: 100%;
      text-align: left;
      cursor: pointer;
      outline: none;
    }

    /* On mouse-over */
    .sidenav a:hover,
    .dropdown-btn:hover {
      color: #f1f1f1;
    }

    #userProfilePicture {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("https://dummyimage.com/1000x1000/6c757d/dee2e6.jpg");
      background-size: cover;
    }

    /* Main content */
    .main {
      margin-left: 200px;
      /* Same as the width of the sidenav */
      font-size: 20px;
      /* Increased text to enable scrolling */
      padding: 0px 10px;
    }

    /* Add an active class to the active dropdown button */
    .active {

      color: white;
    }

    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
      display: none;
      background-color: #262626;
      padding-left: 8px;
    }

    /* Optional: Style the caret down icon */
    .fa-caret-down {
      float: right;
      padding-right: 8px;
    }

    /*  */
    /* sidebar 縮放功能 */

    a {

      text-decoration: none;
    }
  </style>
  <link rel="stylesheet" href="../../styles/header.css">
  <link rel="stylesheet" href="../../styles/sidebars.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="../../styles/manageProfile.css" rel="stylesheet" />




</head>

<body>
  <!-- header -->
  <%- include("../components/header")%>
    <div class="row" style="width:100%">
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="bootstrap" viewBox="0 0 118 94">
          <title>Bootstrap</title>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z">
          </path>
        </symbol>
        <symbol id="home" viewBox="0 0 16 16">
          <path
            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
        </symbol>
        <symbol id="speedometer2" viewBox="0 0 16 16">
          <path
            d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
          <path fill-rule="evenodd"
            d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
        </symbol>
        <symbol id="table" viewBox="0 0 16 16">
          <path
            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
        </symbol>
        <symbol id="people-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </symbol>
        <symbol id="grid" viewBox="0 0 16 16">
          <path
            d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
        </symbol>
        <symbol id="collection" viewBox="0 0 16 16">
          <path
            d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z" />
        </symbol>
        <symbol id="calendar3" viewBox="0 0 16 16">
          <path
            d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
          <path
            d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
        </symbol>
        <symbol id="chat-quote-fill" viewBox="0 0 16 16">
          <path
            d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z" />
        </symbol>
        <symbol id="cpu-fill" viewBox="0 0 16 16">
          <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
          <path
            d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z" />
        </symbol>
        <symbol id="gear-fill" viewBox="0 0 16 16">
          <path
            d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
        </symbol>
        <symbol id="speedometer" viewBox="0 0 16 16">
          <path
            d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z" />
          <path fill-rule="evenodd"
            d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z" />
        </symbol>
        <symbol id="toggles2" viewBox="0 0 16 16">
          <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z" />
          <path
            d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z" />
          <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z" />
        </symbol>
        <symbol id="tools" viewBox="0 0 16 16">
          <path
            d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z" />
        </symbol>
        <symbol id="chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
        </symbol>
        <symbol id="geo-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
        </symbol>
      </svg>
      <%- include("../components/sidebar") %>
        <div class="col w3-container">

          <header class="py-5 bg-image-full ms-2" id="coverPhoto">
            <div class="row my-5">
              <div class="ms-4 col-3 d-flex flex-column justify-content-end">
                <label class="btn btn-info ownerOnly">
                  <input id="coverPhotoBtn" name="coverPhoto" style="display:none;" type="file">
                  <i class="fa fa-photo"></i> 更新封面照片
                </label>
              </div>

              <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                <div style="height:160px; width:160px" class="rounded-circle overflow-hidden" id="userProfilePicture">
                  <!-- <img class=" w-100 mb-4 mx-auto  " id="profilePicture"
                src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" style="height:160px" alt="..." /> -->
                </div>
                <!-- <form
                    action="/user/changepicture"
                    method="post"
                    enctype="multipart/form-data"
                    class="d-flex flex-column justify-content-center"
                  > -->
                <!-- 有文件上傳時，一定要用 multipart/form-data -->
                <h2 class="text-white" id="userName">user name</h2>
                <label class="btn btn-info ownerOnly">
                  <input id="profilePictureBtn" style="display:none;" type="file" name="coverPhoto">
                  <i class=" fa fa-photo"></i> 更新照片
                </label>


                <!-- </form> -->

              </div>

              <div class="col mt-3">
                <h1 class="text-white fs-3 fw-bolder" id="channelTitle">頻道標題</h1>
                <p class="text-white-50 mb-0" id="channelDescription">
                  頻道內容
                </p>

                <button class="btn btn-primary mt-2 ownerOnly" type="button" data-bs-toggle="collapse"
                  data-bs-target="#channelIntro" aria-expanded="false" aria-controls="channelIntro">
                  更新頻道介紹
                </button>


                <div class="collapse" id="channelIntro">
                  <header class="w3-container w3-teal w-100" style="height:30px"></header>
                  <div class="card card-body">
                    <form action="/user/changedescription" method="post" class="d-flex flex-column">
                      <label></label>
                      <b> 頻道名稱</b>
                      <input type="text" name="channelName" />
                      </label>
                      <label for="descriptionTextarea"> <b> 頻道介紹</b></label>
                      <textarea name="description" id="descriptionTextarea" rows="5"></textarea>
                      <button type="submit">提交</button>
                    </form>
                  </div>
                  <footer class="w3-container w3-teal w-100" style="height: 30px;">
                    <p>@Nodus</p>
                  </footer>
                </div>
              </div>
              <div class="col-1"></div>
            </div>
          </header>
          <div class="w3-border-bottom mt-5 d-flex justify-content-between">
            <h2 class="w3-text-blue-gray ms-5">你的文章</h2>
            <h2 class="w3-text-blue-gray me-5">訂閱人數：<span id="subCount"></span></h2>
          </div>
          <section>
            <div class="mt-2 col-12 container d-flex flex-row justify-content-evenly flex-wrap" id="articleContainer">


            </div>

          </section>
        </div>
    </div>

    <!-- footer -->

    <%- include("../components/footer")%>





      <!-- Core theme JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

      <script src="https://code.jquery.com/jquery-latest.min.js"></script>
      <script
        src="https://rawcdn.githack.com/darkterminal/tagin/6fa2863c13aa1841f33cf6dcbbf266c92fbf5412/dist/js/tagin.min.js"></script>

      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      <script src="../../js/sidebars.js"></script>
      <script src="../../js/header.js"></script>

      <script>

      </script>
      <script>
        // https://stackoverflow.com/questions/950087/how-do-i-include-a-javascript-file-in-another-javascript-file
        function dynamicallyLoadScript(url) {
          var script = document.createElement("script"); // create a script DOM node
          script.src = url; // set its src to the provided URL

          document.head.appendChild(script); // add it to the end of the head section of the page (could change 'head' to 'body' to add it to the end of the body section instead)
        }

        dynamicallyLoadScript("https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js");
        // 更新頻道照片
        $("#profilePicture").change(function () {
          const profilePicture = $(this).files[0]
        })
        // 做到一半 走 multer s3 

        const coverBtn = document.querySelector("#coverPhotoBtn")
        coverBtn.addEventListener("change", async (e) => {
          try {
            const formData = new FormData()
            formData.append("coverPhoto", coverBtn.files[0])
            formData.append("s3ImageRoute", "channelCover")
            formData.append("description", "handWriteDescription")
            // const result = await axios.post("/images", formData, { headers: { 'Content-Type': 'multipart/form-data' } })
            fetch("/images", {
              method: "POST",
              credentials: "include",
              body: formData
            }).then((res) => {
              return res.json();
            }).then((json) => {
              console.log("coverBtn json", json)
              location.reload()
            })

          } catch (err) {
            console.log(err)
          }
        })

        const profilePicBtn = document.querySelector("#profilePictureBtn")
        profilePicBtn.addEventListener("change", async (e) => {
          try {
            const formData = new FormData()
            formData.append("coverPhoto", profilePicBtn.files[0])
            formData.append("s3ImageRoute", "profilePic")
            fetch("/images", {
              method: "POST",
              credentials: "include",
              body: formData
            }).then((res) => {
              return res.json()
            }).then((json) => {
              console.log("profilePic json", json)
              location.reload()
            })
          } catch (err) {
            console.log(err)
          }
        })



      </script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


      <script>
        const fullUrl2 = window.location.href
        const channelUrlId = fullUrl2.substring(fullUrl2.lastIndexOf("/") + 1)
        let channelApiBody = {}
        channelApiBody.url_id = channelUrlId

        fetch("/user/userChannel", {
          method: "POST",
          credentials: "include",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(channelApiBody)
        }).then((res) => res.json()).then((json) => {
          console.log("userChannel json", json)
          const channel = json.userResult[0]
          $("#userName").html(channel.name)
          $("#channelTitle").text(channel.channelTitle)
          if (channel.sub_count == null) {
            channel.sub_count = 0
          }
          $("#subCount").text(channel.sub_count)
          $("#channelDescription").text(channel.channelDescription)
          if (channel.profile_pic) {
            $("#profilePicture").attr("src", channel.profile_pic)
          }
          if (channel.coverPhoto) {
            $("#coverPhoto").attr("style", `background-image: url(${channel.coverPhoto})`)
          }
          if (channel.profile_pic) {
            $("#userProfilePicture").css("background-image", `url(${channel.profile_pic})`)
            console.log("1")
            // $("#profilePicture").attr("src", channel.profile_pic)
          }
          json.articleResult.forEach(e => {
            const articleBox = document.createElement("div")
            articleBox.setAttribute("class", " box col-6")
            e.content_html = e.content_html.replace(/(<([^>]+)>)/gi, "")
            articleBox.innerHTML = `  <div class="w3-margin row w3-border-bottom g-0 bg-light position-relative articleCard"
    style="height:300px;border-radius:10px">
    <div class="col-md-6 mb-md-0 p-md-4 col-3">

      <a href="/articles/${e.slug}">
        <div style="width:210px;height:210px;border-radius:10px;background-repeat:no-repeat;
                              background-position: center;
                              background-image:url(${e.cover_images});
                              background-size: cover;"></div>
      </a>
    </div>

    <div class="col-3 col-md-6 p-4 ps-md-0">
      <a href="/articles/${e.slug}">
        <h5 class="mt-0 card-title" style="margin:0px">${e.title}</h5>
      </a>
      
        <h6 class="text-secondary" style="margin:0px"> <br>${e.article_created_date}</h6>
      
      <a href="/articles/${e.slug}" class="text-black ">
        <p class="card-text">
          ${e.content_html}
        </p>
        <h6 class="views text-secondary">觀看次數：${e.views} • 按讚數：${e.likes} </h6>
      </a>
      <div class="mt-2">
        <button class="editBtn ownerOnly w3-btn w3-ripple w3-teal " id="${e.slug}"
          data-authorId="${e.user_id}">編輯</button>
        <button class="deleteBtn ownerOnly w3-btn w3-ripple w3-red" id="${e.slug}"
          data-authorId="${e.user_id}">刪除</button>
      </div>
    </div>
  </div>`
            $("#articleContainer").append(articleBox)
          });
          console.log("fetch")
        }).then(() => {
          document.querySelectorAll(".deleteBtn").forEach((e) => {
            const slug = e.getAttribute("id")
            const authorId = e.getAttribute("data-authorid");

            e.addEventListener("click", (event) => {

              console.log(3)


              Swal.fire({
                title: '確定要刪除文章?',

                showCancelButton: true,
                confirmButtonText: '刪除',
                denyButtonText: `取消`,
              }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {

                  const url = "/articles/delete"
                  const article = { slug: slug, authorId: authorId }
                  console.log("article", article)
                  fetch(url, {
                    method: "post",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify(article)
                  })
                    .then((res) => res.json).then((json) => {
                      console.log("json", json)
                      if (json == -1) {
                        Swal.fire("您沒有權限刪除這篇文章")
                      } else {
                        Swal.fire("已刪除文章").then(() => {
                          location.reload()
                          return
                        })
                      }
                    })
                }
              })
            })
          })
          // })

        }).then(() => {
          document.querySelectorAll(".editBtn").forEach((e) => {
            const slug = e.id
            const authorId = e.getAttribute("data-authorId")
            e.addEventListener("click", (event) => {
              Swal.fire({
                title: '確定要編輯文章?',

                showCancelButton: true,
                confirmButtonText: '編輯',
                denyButtonText: `取消`,
              }).then((result) => {
                if (result.isConfirmed) {
                  window.location.href = `/articles/edit/${slug}`
                }

              })

            })

            // e.addEventListener("click", ())
          })
        }).then(() => {
          let userApiBody = {}
          const fullUrl = window.location.href
          const userUrl = fullUrl.substring(fullUrl.lastIndexOf("/") + 1)
          userApiBody.userUrl = userUrl
          fetch("/user/channelAuth", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify(userApiBody)
          }).then((res) => res.json()).then((json) => {
            console.log("json", json)
            if (json !== 1) {
              const ownerOnlyArr = document.querySelectorAll(".ownerOnly")
              ownerOnlyArr.forEach(e => {
                e.setAttribute("class", "d-none")
              })
            }
          })
        })
      </script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>

      </script>

</body>

</html>